# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
instance/
*.sqlite3

# Virtual environments
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
.env.local
